body {
    background-color: white; /* Ändra bakgrundsfärgen utanför kvadraten */
}

.container {
    background-color: red; /* Röd bakgrund för kvadraten */
    border: 15px solid brown;
    width: 200px;
    height: 200px;
}

.insideeRed {
    width: 50%;
    height: 50%;
    background-color:rgb(249, 142, 142)
}

.containergul {
    background-color: yellow;
    border: 15px solid rgb(129, 129, 13);
    width: 200px;
    height: 200px;

}

.containergreen {
    background-color: green;
    border: 15px solid rgb(20, 94, 20);
    width:200px;
    height: 200px;
}

